
ion-content {
    --background: url(../../../assets/wallpapers/dark_mesh.jpg);
}

div.container {
    height: 98%;
    width: 94%;
    margin-top: 2%;
    margin-left: 3%;
    background-color: #ffffffd0;
    --overflow: hidden;
    border: 3px solid #ffffff;
    border-radius: 3px;
}

h1 {
    font-size: 45px;
    font-weight: 600;
    margin-top: 55px;
    margin-left: 20px;
    margin-bottom: 60px;
}

ion-input {
    width: 98%;
    margin-left: 1%;
    bottom: 1rem;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1.4rem;
    color: #1d1d1d;
    --background: #feffea;

    border: 2px solid #1d1d1d;
    border-radius: 2px;
}

ion-select {
    width: 98%;
    margin-left: 1%;
    bottom: -1rem;
    font-size: 21px;
    font-weight: 600;
    color: #fefefa;
    --background: #1d1d1d;

    
    border: 3px solid #1d1d1d;
    border-radius: 2px;
}

ion-button.login {
    --background: #3b1153;
    color: #feffea;
    margin-top: 60px;
    height: 70px;
    width: 100%;

    font-weight: 600;
    font-size: 20px;
}