
<ion-content class="ion-padding">
  <div class="home">
  
    <ion-row>
      <ion-col>
        <ion-button
          class="full-screen-button"
          expand="block"
          [color]="alarmOnOff ? 'danger' : 'dark'"
          (click)="cambiarAlarma()"
        >
        <img [src]="alarmOnOff ? '../../assets/images/lock.png' : '../../assets/images/unlock.png'" height="500" width="400" alt="">
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-fab slot="fixed" vertical="top" horizontal="start" *ngIf="alarmOnOff === false">
      <ion-fab-button color="light" (click)="cerrarSesion()">
        <ion-icon color="dark" name="log-out-outline" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  
</ion-content>
