<ion-header>
  <ion-toolbar>
    <ion-title>
      ALARMA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home">
  
    <ion-row>
      <ion-col>
        <ion-button
          class="full-screen-button"
          expand="block"
          [color]="alarmOnOff ? 'danger' : 'success'"
          (click)="cambiarAlarma()"
        >
        <img [src]="alarmOnOff ? '../../assets/lock.png' : '../../assets/unlock.png'" alt="">
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-fab slot="fixed" vertical="top" horizontal="start" *ngIf="alarmOnOff === false">
      <ion-fab-button color="danger" (click)="cerrarSesion()">
        <ion-icon name="power-sharp" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  
</ion-content>
