.full-screen-button {
//  height: 100%;
  height: 93vh; /* Set height to 100% of viewport height */

  display: flex;
  align-items: center;
  justify-content: center;
}

div.home {
  height: 100%;
  width: 100%;
}

ion-content {
  --overflow: hidden;
  --background: rgb(104, 0, 0);
}
/*
ion-button {
  display: block;
  height: 48%;
  text-transform: initial;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 2rem;
  font-weight: 600;
}*/
.claseA {
  --background: linear-gradient(#1F9833, #09814A);
}
.claseB {
  --background: linear-gradient(#FF6C32, #BC412B);
}
